@import './modal.scss';
@import './checkbox.scss';

@font-face {
    font-family: LabGrotesque;
    src: url('../fonts/LabGrotesque-Regular.woff')
}

* {
    margin: 0;
    padding: 0;
    font-family: LabGrotesque;
    @media screen and (max-width: 1000px) {
        font-size: 14px;
    }
    @media screen and (max-width: 680px) {
        font-size: 12px;
    }
}

li {
    list-style: none;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #DFE3E6;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: $grad;
    box-shadow: 0px -0.11px 16.9495px rgba(183, 187, 225, 0.33);
    transition: background .8s ease;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 13.8%;
    height: 56px;
    left: 40%;
    top: 40%;
    color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 44px #CFDAE7);
    border-radius: 6px;
    transition: opacity .8s ease;
    &:hover{
      background: #fff;  
      color: #000;
    }
    span {
        position: relative;
        padding-left: 18%;
        font-weight: 500;
    }
    @media screen and (max-width: 1000px){
        font-size: .75rem;
    }
    @media screen and (max-width: 680px) {
        width: 40%;
        left: 30%;
      }
}


