@import './modal.scss';

@font-face {
    font-family: LabGrotesque;
    src: url('../fonts/LabGrotesque-Regular.woff')
}

* {
    margin: 0;
    padding: 0;
    font-family: LabGrotesque;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: $grad;
    box-shadow: 0px -0.11px 16.9495px rgba(183, 187, 225, 0.33);
    transition: background .8s ease;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 198px;
    height: 56px;
    left: 43.125%;
    top: 40.125%;
    color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 44px #CFDAE7);
    border-radius: 6px;
    transition: opacity .8s ease;
    span {
        padding-left: 21%;
        font-weight: 500;
    }

}


