* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(255.35deg, #DC3131 0.83%, #ff4f4f00 108.93%), #FF5E56;
    box-shadow: 0px -0.11px 16.9495px rgba(183, 187, 225, 0.33);
    transition: background .8s ease;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    // padding: 16px 0px 0px 23.88%;
    cursor: pointer;
    position: relative;
    width: 198px;
    height: 56px;
    left: 43.125%;
    top: 40.125%;
    color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 44px #CFDAE7);
    border-radius: 6px;
    transition: opacity .8s ease;
    span {
        padding-left: 21%;
        font-weight: 500;
    }

}

.modal {
    position: absolute;
width: 552px;
height: 476px;
left: 444px;
top: 120px;

background: #FFFFFF;
border-radius: 30px;
.modal__close {
    position: absolute;
width: 18px;
height: 18px;
left: calc(50% - 18px/2);
top: calc(50% - 18px/2);

background: #EA0029;
}
}